<!-- myapp/templates/register.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'RegisterForm.css' %}">
    <title>Register</title>
</head>
<body>
    <div class="text-center" style="text-align: center">
        <h2  >Already have an account? <a href="login">Login</a></h2>
      </div>
    <h2 style="text-align: center">or Register Below</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
   
</body>
</html>
